body {
  background-color: #f9fafb;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr [Information] 6fr 3fr;
  padding-top: 50px;
}

.grid-container--editPermissions {
  grid-template-columns: 1fr [Information] 5fr 1fr [Permission] 4fr 1fr;
}

.grid-container--editPermissions .permissionInterface {
  display: block;
}

.profileInformation {
  grid-column: Information;
  display: flex;
  flex-flow: column nowrap;
}

.profileInformation-header {
  background-color: #fff;
  padding: 15px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.profileInformation-header-avatar {
  width: 60px;
  height: 60px;
}

.profileInformation-header-user {
  padding-left: 20px;
  padding-right: 20px;
}

.profileInformation-header-user-name {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
}

.profileInformation-header-user-webid {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: normal;
  color: #1e41bc;
}

.profileInformation-header-edit {
  margin-left: auto;
}

.profileInformation-addCategory {
  margin-top: 8px;
}

.permissionInterface {
  display: none;
  grid-column: Permission;
  height: 431px;

  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(43, 47, 62, 0.06), 0px 1px 0px #c4c4c4;
  border-radius: 5px;
}

@media (max-width: 1300px) {
  .grid-container {
    grid-template-columns: 2fr [Information] 8fr 2fr;
  }

  .permissionInterface {
    grid: unset;

    position: fixed;
    left: 12%;
    top: 25%;
    width: 76%;
    height: 50%;
  }
}

@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr [Information] 12fr 1fr;
  }
}
